<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xivamsys</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.xiva.common.servlet.UserLoginListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>initSys</servlet-name>
  	<servlet-class>com.xiva.common.servlet.InitSystemServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>com.xiva.common.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>com.xiva.common.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>captcha</servlet-name>
	<servlet-class>com.xiva.common.servlet.CaptchaServlet</servlet-class>
	<load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>captcha</servlet-name>
    <url-pattern>/authImg</url-pattern>
  </servlet-mapping>
  
	<filter>
	    <filter-name>CacheFilter</filter-name>
	    <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
	    <init-param>
	        <param-name>time</param-name>
	        <param-value>600</param-value><!-- 单位秒 -->
	    </init-param>
	    <init-param>
	        <param-name>scope</param-name>
	        <param-value>session</param-value>
	    </init-param>
	    <init-param>
	    	<param-name>ICacheKeyProvider</param-name>
	    	<param-value>com.xiva.common.IvCacheKeyProvider</param-value>
	    </init-param>
	</filter>

	<filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
  	
  	<filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>/user/userInfoList.action</url-pattern>
	</filter-mapping>
  
  <filter>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
	<taglib>
	  <taglib-uri>oscache</taglib-uri>
	  <taglib-location>/WEB-INF/classes/META-INF/oscache.tld</taglib-location>
	</taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>